<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-body>
      <div style="color:black; font-size: 18px;text-align: center;">
        Reported Succesfully To<br />
        <strong>National Seed Corporation</strong>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<div class="width-100 text-center">
  <div style="display: flex; position: relative;padding-bottom: 10px;">
    <input
      class="btn btn-danger"
      (click)="open(dialog)"
      type="button"
      value="Report to NSC"
      [disabled]="selectedSeeds.length > 0 ? '' : 'disabled'"
    />
  </div>
</div>
<div class="activity-table">
  <table class="width-100">
    <thead>
      <tr>
        <th></th>
        <th>
          Seed Name
        </th>
        <th>
          Date
        </th>
        <th>
          Fake
        </th>
        <th>
          Genuine
        </th>
        <th>
          Reported to NSC
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities" class="border-bottom">
        <td style="width:5%;">
          <input type="checkbox" (change)="selectSeed($event, activity.name)" />
        </td>
        <td style="width:30%;">
          {{ activity.name }}
        </td>
        <td style="width:20%;">
          {{ activity.date | date: "shortDate" }}
        </td>
        <td style="width:15%;">
          <fa class="green" name="check" *ngIf="activity.fake"></fa>
          <fa class="red" name="times" *ngIf="!activity.fake"></fa>
        </td>
        <td style="width:15%;">
          <fa class="green" name="check" *ngIf="activity.original"></fa>
          <fa class="red" name="times" *ngIf="!activity.original"></fa>
        </td>
        <td style="width:15%;">
          <fa class="green" name="check" *ngIf="activity.status"></fa>
          <fa class="red" name="times" *ngIf="!activity.status"></fa>
        </td>
      </tr>
    </tbody>
  </table>
</div>
