<!-- <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(url)" height="400" width="100%"></iframe> -->

<!--<section class="container">
<nb-card>
    <nb-card-body>
<input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
<button type="button" class="btn btn-success btn-s" (click)="upload()">
    <i class="glyphicon glyphicon-open-file"></i>&nbsp;Upload
</button>
</nb-card-body>
  </nb-card>
</section>-->

<div class="row application-container">
  <div class="col col-sm-6">
    <section class="container">
      <div class="form-group">
        <div style="display: flex; flex-direction: column; padding: 10px">
          <div style="display: flex; padding: 10px">
            <input
              nbInput
              id="cin"
              name="cin"
              type="file"
              class="form-control-file border"
              (change)="fileChangeEvent($event)"
              placeholder="Upload a file..."
              multiple
            />
          </div>
          <div style="display: flex; padding: 10px">
            <button
              type="button"
              [nbSpinner]="loading"
              class="btn btn-success btn-s"
              (click)="upload()"
              [disabled]="urls.length == 0"
            >
              <i class="glyphicon glyphicon-open-file"></i>&nbsp;Upload Seed
              Image
            </button>
          </div>
        </div>
      </div>
    </section>
    <div id="imgPreview">
      <div class="row">
        <div
          class="col-sm-6 form-group"
          *ngFor="let url of urls | slice: 0:2; let i = index"
        >
          <figure class="figure">
            <figcaption class="figure-caption" *ngIf="i == 0">
              <strong style="color: white">Top View</strong>
            </figcaption>
            <figcaption class="figure-caption" *ngIf="i == 1">
              <strong style="color: white">Lateral View</strong>
            </figcaption>
            <figcaption class="figure-caption" *ngIf="i == 2">3</figcaption>
            <figcaption class="figure-caption" *ngIf="i == 3">4</figcaption>
            <img class=".rounded img-fluid" [src]="url" />
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-sm-6">
    <section class="mx-auto">
      <div style="display: flex; flex-direction: column; padding: 10px 0px">
        <div style="display: flex; padding: 10px 0px">
          <div style="flex:1"><label>Prediction Decision</label></div>
          <div style="flex:1">
            <input
              nbInput
              type="text"
              [class.positive]="decisionVal == 'GENUINE'"
              [class.negative]="decisionVal == 'FAKE'"
              [(ngModel)]="decisionVal"
              disabled
            />
          </div>
        </div>
        <div style="display: flex; padding: 10px 0px">
          <div style="flex:1">
            <label style="line-height: 5.5em;">Prediction Score</label>
          </div>
          <div style="flex:1">
            <!-- <mwl-gauge
                  [max]="100"
                  [dialStartAngle]="0"
                  [dialEndAngle]="180.001"
                  [value]="guageVal"
                  [dialRadius]="40"
                  [animated]="true"
                  [animationDuration]="1">
                </mwl-gauge> -->
            <div class="sc-gauge">
              <div class="sc-background">
                <div
                  class="sc-percentage"
                  [ngStyle]="{ transform: guagePercentage }"
                ></div>
                <div class="sc-mask"></div>
                <span class="sc-value">{{ guageVal }}</span>
              </div>
              <span class="sc-min">0</span>
              <span class="sc-max">100</span>
            </div>
          </div>
        </div>
        <div>
          <div style="display: flex; position: relative;padding-bottom: 10px;">
            <button
              type="button"
              class="btn btn-danger btn-s"
              (click)="open(dialog)"
              [disabled]="guageVal == 0"
            >
              Report to NSC
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- <nb-layout>
  <nb-layout-column class="colored-column-warning">
    
  </nb-layout-column>
  <nb-layout-column class="colored-column-danger">
    
  </nb-layout-column>
</nb-layout> -->
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <table>
      <tr>
        <td><label style="color:black">Seed Provider Information</label></td>
        <td><textarea rows="4" cols="30"></textarea></td>
      </tr>
      <tr>
        <td><label style="color:black">Date of purchase</label></td>
        <td><input type="date" /></td>
      </tr>
      <tr>
        <td><label style="color:black">Seed Quality</label></td>
        <td>
          <select>
            <option>Fake</option>
            <option>Original</option>
            <option>Defective</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <button
            type="button"
            class="btn btn-success btn-s"
            (click)="report(ref, submitted)"
          >
            Submit
          </button>
        </td>
      </tr>
    </table>
  </nb-card>
</ng-template>

<ng-template #submitted let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-body>
      <div style="color:black; font-size: 18px;text-align: center;">
        Reported Succesfully To<br />
        <strong>National Seed Corporation</strong>
      </div></nb-card-body
    >
  </nb-card>
</ng-template>
