
.align-center{
    text-align: center;
    width:100%;
}
.custom-backgroud{
    background: url(/assets/images/back.jpg) !important;
    background-repeat: no-repeat;
    background-size: auto;
}
.layout-column::after{
    content: "";
    background: url(/assets/images/back.jpg) !important;
  background-repeat: no-repeat;
  background-size: auto;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
@media only screen and (max-width: 600px) {
   h1{
     font-size:20px;
   }
  }
