/* You can add global styles to this file, and also import other style files */
nav{
    background: white !important;
}
h1 {   
    color:#04be04 !important;
}

.nb-theme-cosmic nb-layout .layout .layout-container .content nb-layout-footer nav{
    background: grey !important;
}

.nb-theme-cosmic p{
    font-size:22px;
    text-align: justify;
  text-justify: inter-word;
  color: white;
}

.nb-theme-cosmic h2, .nb-theme-cosmic .h2, .nb-theme-cosmic h5, .nb-theme-cosmic .h5{
    font-weight: bold;
    margin:10px;
    color:white;
}

.nb-theme-cosmic nb-route-tabset .route-tab.active .tab-link{
    color:white;
}
.nb-theme-cosmic nb-route-tabset .tab-link{
    color:white;
}

body{
    /* height: 100vh !important;
    overflow: scroll; */
}

.nb-theme-cosmic nb-route-tabset .route-tab:hover .tab-link:hover{
    color:darkgreen;
}

.tab-text{
    font-size: 20px;
}

mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;
  }
  mwl-gauge > .gauge > .dial {
    stroke: #eee;
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  mwl-gauge > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  mwl-gauge > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
  }